@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0 0;
    /* backgroun-color: rgb(32, 36, 45); */
    color:white
}
.text-stroke {
    -webkit-text-stroke: 2px #68676791; /* Adds the stroke */
    color: transparent;           /* Makes the fill invisible */
    -webkit-text-fill-color: transparent; /* Required for consistent behavior */
  }
  
  html{
    scroll-behavior: smooth;
  }
  
  .Typewriter{
    color: rgb(37, 196, 92)

  }
  